<h1> INDEX</h1>

<table class="well">
    <thead>
        <tr>
            <th>Description </th>
            <th> Completed</th>
            <th colspan="3"> </th>
        </tr>
    </thead>

    <tbody>
    <% @todos.each do |todo| %>
        <tr>
            <td> <%= todo.description %></td>
            <td> <%= todo.completed%></td>
            <td> <%= link_to 'SHOW', todo%> </td>
        </tr>
    <%end%>
    </tbody>
</table>
<br>
<p> Crear nuevo ToDo: <%= link_to "NUEVO TODO", todos_new_path %></p>