<h1> INDEX</h1>

<talbe class="well">
    <thead>
        <tr>
            <th>Description </th>
            <th> Completed</th>
            <th colspan="3"> </th>
        </tr>
    </thead>

    <tbody>
    <% @todos.each do |todo| %>
        <tr>
            <td> <%= todo.description %></td>
            <td> <%= todo.completed%></td>
        </tr>
    <%end%>
    </tbody>
</table>