<h1> NEW</h1>
<%= form_with model: @todo, local: true do |f|%>
    <%= f.label :description, "Description" %>
	<%= f.text_field :description %>
 	<%= f.submit "CREAR", :class => 'btn btn-primary' %>
<%end%>